@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #FEFAE0;
  height: 100vh;
  width: 100vw;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.navbar-container {
  display: flex;
  background-color: #283618;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  color: white;
  top: 0;
}

.navbar-container h2 {
  margin-left: 50px;
  font-size: 20px;
}

.navbar-container a {
  color: white;
  text-decoration: none;
}


.links {
  display: flex;
  margin-right: 50px;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

.links a {
  margin-right: 30px;
}

.cart {
  cursor: pointer;
}

.hero {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 2.5em;
  width: min(100%, 80rem)
}

hr {
  margin-top: 3rem;
  margin-bottom: 4rem;
  border-top: 3px solid #bbb;
  width: 100%;
}

/* products */

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: min(100%, 80rem)
}

.products-image {
  width: 18rem;
  height: 24rem;
  margin: 10px;
  cursor: pointer;
}

.products-details {
  margin: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-details h4 {
  font-size: 15px;
}

.products-header {
  display: flex;
}

.products-name {
  cursor: pointer;
}

.products-price {
  margin-left: 5px;
}

/* product */

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.product-header {
  display: flex;
  align-items: center;
}

.product-header span {
  margin-left: 20px;
}

.product-details {
  width: 50rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30%;
}

@media(max-width: 1400px) {
  .product-container {
    margin: 0 50px;
  }
}

@media(max-width: 850px) {
  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 0 50px;
  }

  .product-details {
    width: 400px;
    margin-left: 0;
    margin-top: 50px;
  }
  .price-container{
    margin-top: 35px;
  }
  .product-content {
    margin-top: 10px;
    line-height: 25px;
  }

  .gallery-header {
    margin: 0 30px;
  }
}

.price-container {
  display: flex;
  align-items: center;
}

.price-container>* {
  margin: 0 10px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: min(100%, 80rem);
}

.gallery-header {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Archivo', 'Roboto', sans-serif;
}

.gallery-image {
  width: 18rem;
  height: 24rem;
  margin: 10px;
}

.feature-block {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.feature-details {
  font-family: 'Archivo', 'Roboto', sans-serif;
  line-height: 30px;
}

.feature-image {
  margin-right: 50px;
}

@media (max-width: 1100px) {
  .feature-block {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 700px) {
  .feature-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .feature-image{
    /* width: 10vw; */
    width: 90vw;
    margin-right: 0;
  }

  .feature-details {
    margin-top: 30px;
  }
}



.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.cart-icon {
  font-size: 25px;
  cursor: pointer;
  position: relative;
  border: none;
  background-color: transparent;
  color: white;
}

.cart-item-qty {
  position: absolute;
  right: -9px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  background-color: #bc6c25;
  font-size: 12px;
}

.add-to-cart {
  border: 1px solid #bc6c25;
  background-color: white;
  border-radius: 1em;
  font-weight: 600;
  color: #dda15E;
  padding: 5px 5px;
  cursor: pointer;
}

button {
  background: none;
  border: none;
}

.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;
}